.section-1, .section-2, .section-3{
    width: 50%;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    background-color:antiquewhite;
    padding: 30px;
    border-radius: 10px;
}
.btn{
    width: 200px;
    padding: 5px;
    border: none;
    background-color: brown;
    color: aliceblue;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}
.opacity{
    background-color: black;
    opacity: 30%;
}
.disappear{
    display: none;
}
.modal{
    width: 50%;
    height: 150px;
    margin: 0px auto;
    text-align: center;
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 10px;  
    font-size: 20px;
}
.close{
    font-size: 30px;  
    cursor: pointer; 
}
input{
    width: 200px;
    padding: 5px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
